#header {
    text-align: center;
    padding: 2em;
}

#header h1{
    font-size: 3em;
    font-weight: normal;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    padding: 1em 0;
}

.ui .column {
    border: 1px solid #fff;
    text-align: center;
}

.ui.container{
    padding: 20px 0;
}